USE [master]
GO
/****** Object:  Database [Gestion_SITMAS]    Script Date: 7/5/2026 06:16:15 ******/
CREATE DATABASE [Gestion_SITMAS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Gestion_SITMAS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Gestion_SITMAS.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Gestion_SITMAS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Gestion_SITMAS_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Gestion_SITMAS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Gestion_SITMAS]
GO
/****** Object:  Table [dbo].[Destino]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Destino](
	[IdDestino] [int] IDENTITY(1,1) NOT NULL,
	[Destino] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDestino] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_Material]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Material](
	[IdEstadoMaterial] [int] IDENTITY(1,1) NOT NULL,
	[EstadoMaterial] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstadoMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[EstadoMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subtipo_Material]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subtipo_Material](
	[IdSubtipoM] [int] IDENTITY(1,1) NOT NULL,
	[Id_Tipo_Material] [int] NOT NULL,
	[Subtipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdSubtipoM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ingreso_Material]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ingreso_Material](
	[IdIngresoM] [int] IDENTITY(1,1) NOT NULL,
	[FechaIngreso] [datetime] NULL,
	[Id_Origen] [int] NOT NULL,
	[Id_Usuario_Registro] [int] NOT NULL,
	[Id_Camionero_Ingreso] [int] NOT NULL,
	[Id_Vehiculo_Ingreso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIngresoM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Detalle_Ingreso]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detalle_Ingreso](
	[IdDetalleIngreso] [int] IDENTITY(1,1) NOT NULL,
	[Id_Ingreso_Material] [int] NOT NULL,
	[Id_SubTipo_Material] [int] NOT NULL,
	[PesoBruto] [decimal](10, 2) NOT NULL,
	[Observaciones] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdDetalleIngreso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Material_Clasificado]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Material_Clasificado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Detalle_Ingreso] [int] NOT NULL,
	[PesoTotal] [decimal](10, 2) NOT NULL,
	[FechaClasificacion] [datetime] NULL,
	[Id_Estado_Material] [int] NOT NULL,
	[Id_Destino] [int] NOT NULL,
	[Id_Usuario_Clasificador] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Empleado]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Apellido] [varchar](100) NULL,
	[Nombre] [varchar](100) NULL,
	[Cuil] [varchar](20) NULL,
	[Telefono] [varchar](20) NULL,
	[Email] [varchar](100) NULL,
	[Fecha_Ingreso] [date] NULL,
	[Id_Cargo] [int] NULL,
	[Id_Area] [int] NULL,
	[Id_Barrio] [int] NULL,
	[Id_Estado_Empleado] [int] NULL,
	[Calle] [varchar](50) NULL,
	[Numero] [varchar](10) NULL,
	[Piso] [varchar](10) NULL,
	[Dpto] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Cuil] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](100) NULL,
	[Id_Empleado] [int] NULL,
	[Id_Estado_Usuario] [int] NULL,
	[ClaveHash] [varbinary](64) NULL,
	[Salt] [uniqueidentifier] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Id_Empleado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehiculo]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehiculo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Patente] [varchar](20) NULL,
	[Id_Modelo] [int] NULL,
	[Id_Tipo] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Origen]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Origen](
	[IdOrigen] [int] IDENTITY(1,1) NOT NULL,
	[EmpresaInstitucion] [varchar](50) NOT NULL,
	[Calle] [varchar](50) NOT NULL,
	[Numero] [varchar](50) NOT NULL,
	[Telefono] [varchar](50) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[Id_Barrio] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdOrigen] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Material]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Material](
	[IdTipoMaterial] [int] IDENTITY(1,1) NOT NULL,
	[TipoMaterial] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[TipoMaterial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ReporteTrazabilidadCompleta]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--use Gestion_SITMAS

--CREATE PROCEDURE [dbo].[sp_ListarCamioneros]
--AS
--BEGIN
--    SELECT 
--        E.Id, 
--        E.Apellido, 
--        E.Nombre, 
--        E.Cuil,
--        A.Area,
--        C.Cargo
--    FROM Empleado E
--    INNER JOIN Area A ON E.Id_Area = A.Id
--    INNER JOIN Cargo C ON E.Id_Cargo = C.Id
--    WHERE A.Area = 'Logistica'  -- Filtramos por el nombre del área
--      AND C.Cargo = 'Camionero';   -- Filtramos por el cargo específico
--END
--GO

--ALTER PROCEDURE [dbo].[sp_ListarCamioneros]
--AS
--BEGIN
--    SELECT 
--        E.Id, -- Lo necesitamos para el registro interno
--        E.Apellido + ', ' + E.Nombre AS NombreCompleto, -- Lo que el usuario va a ver y elegir
--        C.Cargo,
--        EE.EstadoEmpleado
--    FROM Empleado E
--    INNER JOIN Area A ON E.Id_Area = A.Id
--    INNER JOIN Cargo C ON E.Id_Cargo = C.Id
--    INNER JOIN Estado_Empleado EE ON E.Id_Estado_Empleado = EE.Id
--    WHERE A.Area = 'Logistica' 
--      AND C.Cargo = 'Camionero'
--      AND EE.EstadoEmpleado = 'Activo'
--    ORDER BY E.Apellido ASC; -- Ordenado para que al usuario le sea fácil buscar
--END
--GO

-- 1. Agregamos las columnas para Chofer y Vehículo
-- Usamos 'int' porque guardaremos el ID, pero recordá que en el UX mostraremos nombres
--ALTER TABLE [dbo].[Ingreso_Material]
--ADD [Id_Camionero_Ingreso] INT NOT NULL,
--    [Id_Vehiculo_Ingreso] INT NOT NULL;
--GO

---- 2. Creamos las relaciones para asegurar que no se cargue un ID que no existe
--ALTER TABLE [dbo].[Ingreso_Material] WITH CHECK ADD 
--CONSTRAINT FK_Ingreso_Camionero FOREIGN KEY([Id_Camionero_Ingreso])
--REFERENCES [dbo].[Empleado] ([Id]);

--ALTER TABLE [dbo].[Ingreso_Material] WITH CHECK ADD 
--CONSTRAINT FK_Ingreso_Vehiculo FOREIGN KEY([Id_Vehiculo_Ingreso])
--REFERENCES [dbo].[Vehiculo] ([Id]);
--GO

-- La sintaxis es: 'Tabla.ColumnaVieja', 'ColumnaNueva', 'COLUMN'
--EXEC sp_rename 'dbo.Ingreso_Material.Id_Empresa_Donante', 'Id_Origen', 'COLUMN';
--GO


--CREATE PROCEDURE [dbo].[sp_RegistrarIngresoMaterial]
--    @IdOrigen INT,              -- El nombre nuevo
--    @IdUsuarioRegistro INT,
--    @IdCamioneroIngreso INT,
--    @IdVehiculoIngreso INT
--AS
--BEGIN
--    INSERT INTO [dbo].[Ingreso_Material] 
--        (FechaIngreso, Id_Origen, Id_Usuario_Registro, Id_Camionero_Ingreso, Id_Vehiculo_Ingreso)
--    VALUES 
--        (GETDATE(), @IdOrigen, @IdUsuarioRegistro, @IdCamioneroIngreso, @IdVehiculoIngreso);

--    -- Nuestra estrella para la API de C#
--    SELECT SCOPE_IDENTITY() AS IdNuevoIngreso;
--END
--GO


--CREATE PROCEDURE [dbo].[sp_InsertarDetalleIngreso]
--    @IdIngresoMaterial INT,     -- El ID que capturamos con SCOPE_IDENTITY()
--    @IdSubTipoMaterial INT,     -- Ej: El ID que corresponde a 'PET'
--    @PesoBruto DECIMAL(10,2),
--    @Observaciones VARCHAR(100)
--AS
--BEGIN
--    -- Validamos que el peso sea mayor a cero (una regla de negocio básica)
--    IF @PesoBruto <= 0
--    BEGIN
--        RAISERROR('El peso ingresado debe ser mayor a cero.', 16, 1);
--        RETURN;
--    END

--    INSERT INTO [dbo].[Detalle_Ingreso] 
--        (Id_Ingreso_Material, Id_SubTipo_Material, PesoBruto, Observaciones)
--    VALUES 
--        (@IdIngresoMaterial, @IdSubTipoMaterial, @PesoBruto, @Observaciones);
--END
--GO


--CREATE PROCEDURE [dbo].[sp_RegistrarClasificacion]
--    @IdDetalleIngreso INT,
--    @PesoTotal DECIMAL(10,2),
--    @IdEstadoMaterial INT,
--    @IdDestino INT,
--    @IdUsuarioClasificador INT
--AS
--BEGIN
--    -- Una pequeña validación de seguridad: 
--    -- El peso útil no puede ser mayor al peso bruto que ingresó originalmente.
--    DECLARE @PesoBrutoOriginal DECIMAL(10,2);
    
--    SELECT @PesoBrutoOriginal = PesoBruto 
--    FROM Detalle_Ingreso 
--    WHERE IdDetalleIngreso = @IdDetalleIngreso;

--    IF @PesoTotal > @PesoBrutoOriginal
--    BEGIN
--        RAISERROR('Error: El peso útil no puede ser mayor al peso bruto ingresado originalmente.', 16, 1);
--        RETURN;
--    END

--    INSERT INTO [dbo].[Material_Clasificado] 
--        (Id_Detalle_Ingreso, PesoTotal, FechaClasificacion, Id_Estado_Material, Id_Destino, Id_Usuario_Clasificador)
--    VALUES 
--        (@IdDetalleIngreso, @PesoTotal, GETDATE(), @IdEstadoMaterial, @IdDestino, @IdUsuarioClasificador);
--END
--GO


CREATE VIEW [dbo].[vw_ReporteTrazabilidadCompleta]
AS
SELECT 
    I.IdIngresoM AS NroIngreso,
    I.FechaIngreso,
    O.EmpresaInstitucion AS Origen,
    E.Apellido + ', ' + E.Nombre AS Chofer,
    V.Patente AS Vehiculo,
    TM.TipoMaterial AS Categoria,
    STM.Subtipo AS SubTipo,
    DI.PesoBruto AS PesoBruto,
    MC.PesoTotal,
    EM.EstadoMaterial AS Condicion,
    D.Destino AS DestinoFinal,
    U.Usuario AS ClasificadoPor
FROM Ingreso_Material I
INNER JOIN Origen O ON I.Id_Origen = O.IdOrigen
INNER JOIN Empleado E ON I.Id_Camionero_Ingreso = E.Id
INNER JOIN Vehiculo V ON I.Id_Vehiculo_Ingreso = V.Id
INNER JOIN Detalle_Ingreso DI ON I.IdIngresoM = DI.Id_Ingreso_Material
INNER JOIN Subtipo_Material STM ON DI.Id_SubTipo_Material = STM.IdSubtipoM
INNER JOIN Tipo_Material TM ON STM.Id_Tipo_Material = TM.IdTipoMaterial
LEFT JOIN Material_Clasificado MC ON DI.IdDetalleIngreso = MC.Id_Detalle_Ingreso
LEFT JOIN Estado_Material EM ON MC.Id_Estado_Material = EM.IdEstadoMaterial
LEFT JOIN Destino D ON MC.Id_Destino = D.IdDestino
LEFT JOIN Usuario U ON MC.Id_Usuario_Clasificador = U.Id;
GO
/****** Object:  Table [dbo].[Area]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Area](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Area] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cargo]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cargo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Cargo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_Empleado]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Empleado](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EstadoEmpleado] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Barrio]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Barrio](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Barrio] [varchar](100) NULL,
	[Id_Localidad] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DetalleEmpleados]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_DetalleEmpleados]
AS
SELECT E.Id, E.Apellido, E.Nombre, E.Cuil, E.Telefono, E.Email, E.Fecha_Ingreso, C.Cargo AS Cargo, A.Area AS Area, 
B.Barrio AS Barrio, EE.EstadoEmpleado AS EstadoEmpleado
FROM     dbo.Empleado AS E INNER JOIN
                  dbo.Cargo AS C ON E.Id_Cargo = C.Id INNER JOIN
                  dbo.Area AS A ON E.Id_Area = A.Id INNER JOIN
                  dbo.Barrio AS B ON E.Id_Barrio = B.Id INNER JOIN
                  dbo.Estado_Empleado AS EE ON E.Id_Estado_Empleado = EE.Id
GO
/****** Object:  Table [dbo].[Rol]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreRol] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permiso]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permiso](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PermisoUsuario] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rol_Permiso]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rol_Permiso](
	[Id_Rol] [int] NOT NULL,
	[Id_Permiso] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Rol] ASC,
	[Id_Permiso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_RolesYPermisos]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--use Gestion_SITMAS

--select * from Rol
--select * from Permiso
--select * from Rol_Permiso

--insert into Permiso (PermisoUsuario) values ('Trazabilidad_Lectura'),('Trazabilidad_Escritura'),('Trazabilidad_Modificacion'),('Personal_Gestion'),('Usuario_Gestion'),('Reportes_Basico'),('Reportes_Avanzado'),('Sistema_Config') 
--insert into Rol_Permiso (Id_Rol,Id_Permiso) values (1,8)
--insert into Rol_Permiso (Id_Rol,Id_Permiso) values (3,1),(3,2),(3,3),(3,5),(3,6),(3,7)

CREATE VIEW [dbo].[vw_RolesYPermisos] AS
SELECT 
    R.NombreRol,             -- El nombre descriptivo del Rol
    P.PermisoUsuario,        -- El permiso atómico vinculado
    P.Id AS Id_Permiso,      -- Útil para referencias técnicas
    R.Id AS Id_Rol           -- Útil para filtrados
FROM Rol_Permiso RP
INNER JOIN Rol R ON RP.Id_Rol = R.Id
INNER JOIN Permiso P ON RP.Id_Permiso = P.Id;
GO
/****** Object:  Table [dbo].[Estado_Hoja_Ruta]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Hoja_Ruta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EstadoHojaRuta] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Estado_Usuario]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Estado_Usuario](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EstadoUsuario] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hoja_Ruta]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hoja_Ruta](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[HojaRutaFecha] [date] NULL,
	[Id_Vehiculo] [int] NULL,
	[Id_Chofer] [int] NULL,
	[Id_Estado] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Localidad]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Localidad](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Localidad] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MarcaVehiculo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Modelo]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Modelo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ModeloVehiculo] [varchar](100) NULL,
	[Id_Marca] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Vehiculo]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Vehiculo](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TipoVehiculo] [varchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario_Rol]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario_Rol](
	[Id_Usuario] [int] NOT NULL,
	[Id_Rol] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Usuario] ASC,
	[Id_Rol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ingreso_Material] ADD  DEFAULT (getdate()) FOR [FechaIngreso]
GO
ALTER TABLE [dbo].[Material_Clasificado] ADD  DEFAULT (getdate()) FOR [FechaClasificacion]
GO
ALTER TABLE [dbo].[Barrio]  WITH CHECK ADD FOREIGN KEY([Id_Localidad])
REFERENCES [dbo].[Localidad] ([Id])
GO
ALTER TABLE [dbo].[Detalle_Ingreso]  WITH CHECK ADD FOREIGN KEY([Id_Ingreso_Material])
REFERENCES [dbo].[Ingreso_Material] ([IdIngresoM])
GO
ALTER TABLE [dbo].[Detalle_Ingreso]  WITH CHECK ADD FOREIGN KEY([Id_SubTipo_Material])
REFERENCES [dbo].[Subtipo_Material] ([IdSubtipoM])
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([Id_Area])
REFERENCES [dbo].[Area] ([Id])
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([Id_Barrio])
REFERENCES [dbo].[Barrio] ([Id])
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([Id_Cargo])
REFERENCES [dbo].[Cargo] ([Id])
GO
ALTER TABLE [dbo].[Empleado]  WITH CHECK ADD FOREIGN KEY([Id_Estado_Empleado])
REFERENCES [dbo].[Estado_Empleado] ([Id])
GO
ALTER TABLE [dbo].[Hoja_Ruta]  WITH CHECK ADD FOREIGN KEY([Id_Chofer])
REFERENCES [dbo].[Empleado] ([Id])
GO
ALTER TABLE [dbo].[Hoja_Ruta]  WITH CHECK ADD FOREIGN KEY([Id_Estado])
REFERENCES [dbo].[Estado_Hoja_Ruta] ([Id])
GO
ALTER TABLE [dbo].[Hoja_Ruta]  WITH CHECK ADD FOREIGN KEY([Id_Vehiculo])
REFERENCES [dbo].[Vehiculo] ([Id])
GO
ALTER TABLE [dbo].[Ingreso_Material]  WITH CHECK ADD FOREIGN KEY([Id_Origen])
REFERENCES [dbo].[Origen] ([IdOrigen])
GO
ALTER TABLE [dbo].[Ingreso_Material]  WITH CHECK ADD FOREIGN KEY([Id_Usuario_Registro])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Ingreso_Material]  WITH CHECK ADD  CONSTRAINT [FK_Ingreso_Camionero] FOREIGN KEY([Id_Camionero_Ingreso])
REFERENCES [dbo].[Empleado] ([Id])
GO
ALTER TABLE [dbo].[Ingreso_Material] CHECK CONSTRAINT [FK_Ingreso_Camionero]
GO
ALTER TABLE [dbo].[Ingreso_Material]  WITH CHECK ADD  CONSTRAINT [FK_Ingreso_Vehiculo] FOREIGN KEY([Id_Vehiculo_Ingreso])
REFERENCES [dbo].[Vehiculo] ([Id])
GO
ALTER TABLE [dbo].[Ingreso_Material] CHECK CONSTRAINT [FK_Ingreso_Vehiculo]
GO
ALTER TABLE [dbo].[Material_Clasificado]  WITH CHECK ADD FOREIGN KEY([Id_Detalle_Ingreso])
REFERENCES [dbo].[Detalle_Ingreso] ([IdDetalleIngreso])
GO
ALTER TABLE [dbo].[Material_Clasificado]  WITH CHECK ADD FOREIGN KEY([Id_Destino])
REFERENCES [dbo].[Destino] ([IdDestino])
GO
ALTER TABLE [dbo].[Material_Clasificado]  WITH CHECK ADD FOREIGN KEY([Id_Estado_Material])
REFERENCES [dbo].[Estado_Material] ([IdEstadoMaterial])
GO
ALTER TABLE [dbo].[Material_Clasificado]  WITH CHECK ADD FOREIGN KEY([Id_Usuario_Clasificador])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Modelo]  WITH CHECK ADD FOREIGN KEY([Id_Marca])
REFERENCES [dbo].[Marca] ([Id])
GO
ALTER TABLE [dbo].[Rol_Permiso]  WITH CHECK ADD FOREIGN KEY([Id_Permiso])
REFERENCES [dbo].[Permiso] ([Id])
GO
ALTER TABLE [dbo].[Rol_Permiso]  WITH CHECK ADD FOREIGN KEY([Id_Rol])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[Subtipo_Material]  WITH CHECK ADD FOREIGN KEY([Id_Tipo_Material])
REFERENCES [dbo].[Tipo_Material] ([IdTipoMaterial])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([Id_Empleado])
REFERENCES [dbo].[Empleado] ([Id])
GO
ALTER TABLE [dbo].[Usuario]  WITH CHECK ADD FOREIGN KEY([Id_Estado_Usuario])
REFERENCES [dbo].[Estado_Usuario] ([Id])
GO
ALTER TABLE [dbo].[Usuario_Rol]  WITH CHECK ADD FOREIGN KEY([Id_Rol])
REFERENCES [dbo].[Rol] ([Id])
GO
ALTER TABLE [dbo].[Usuario_Rol]  WITH CHECK ADD FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([Id])
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD FOREIGN KEY([Id_Modelo])
REFERENCES [dbo].[Modelo] ([Id])
GO
ALTER TABLE [dbo].[Vehiculo]  WITH CHECK ADD FOREIGN KEY([Id_Tipo])
REFERENCES [dbo].[Tipo_Vehiculo] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarEmpleado]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ACTUALIZAR EMPLEADO
CREATE   PROCEDURE [dbo].[sp_ActualizarEmpleado]
    @Id INT,
    @Apellido VARCHAR(100),
    @Nombre VARCHAR(100),
    @Cuil VARCHAR(20),
    @Telefono VARCHAR(20),
    @Email VARCHAR(100),
    @Fecha_Ingreso DATE,
    @Id_Cargo INT,
    @Id_Area INT,
    @Id_Barrio INT,
    @Id_Estado INT,
    @Calle varchar (50),
    @Numero varchar (10),
    @Piso varchar (10),
    @Dpto varchar (10)
AS
BEGIN
    UPDATE Empleado
    SET Apellido = @Apellido, Nombre = @Nombre, Cuil=@Cuil, Telefono = @Telefono, 
    Email=@Email, Fecha_Ingreso=@Fecha_Ingreso, Id_Cargo=@Id_Cargo, Id_Area=@Id_Area, 
    Id_Barrio=@Id_Barrio, Id_Estado_Empleado=@Id_Estado, Calle=@Calle, Numero=@Numero,
    Piso=@Piso, Dpto=@Dpto
    WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ActualizarUsuario]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ACTUALIZAR Usuario
CREATE PROCEDURE [dbo].[sp_ActualizarUsuario]
    @Id INT,
    @NuevoUser VARCHAR(100),
    @NuevaPass VARCHAR(100) = NULL, -- Si es NULL, no cambiamos la clave
    @IdEstado INT
AS
BEGIN
    -- 1. Actualizamos primero los datos que siempre cambian
    UPDATE Usuario
    SET Usuario = @NuevoUser,
        Id_Estado_Usuario = @IdEstado
    WHERE Id = @Id;

    -- 2. ¿El usuario envió una nueva contraseña?
    IF @NuevaPass IS NOT NULL AND @NuevaPass <> ''
    BEGIN
        -- Generamos un nuevo ingrediente secreto (Salt)
        DECLARE @NuevoSalt UNIQUEIDENTIFIER = NEWID();

        -- Actualizamos el Hash y el Salt
        UPDATE Usuario
        SET ClaveHash = HASHBYTES('SHA2_512', @NuevaPass + CAST(@NuevoSalt AS VARCHAR(36))),
            Salt = @NuevoSalt
        WHERE Id = @Id;
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_AsignarRol]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ASIGNAR ROL
CREATE   PROCEDURE [dbo].[sp_AsignarRol]
    @IdUsuario INT,
    @IdRol INT
AS
BEGIN
    INSERT INTO Usuario_Rol VALUES (@IdUsuario,@IdRol);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_CrearUsuario]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- USUARIOS
CREATE   PROCEDURE [dbo].[sp_CrearUsuario]
    @User VARCHAR(100),
    @Pass VARCHAR(100),
    @IdEmpleado INT,
    @Estado INT
AS
BEGIN
-- modificación usando hash
DECLARE @NuevoSalt UNIQUEIDENTIFIER = NEWID();
--ahora el inserto usando ClaveHash y Salt
    INSERT INTO Usuario (Usuario, ClaveHash, Salt, Id_Empleado, Id_Estado_Usuario) 
    VALUES (@User,
    HASHBYTES('SHA2_512',@Pass + CAST(@NuevoSalt AS VARCHAR(36))),
    @NuevoSalt,
    @IdEmpleado,
    @Estado);

END
GO
/****** Object:  StoredProcedure [dbo].[sp_EliminarEmpleado]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- ELIMINAR EMPLEADO (RESPETA RN22)
CREATE   PROCEDURE [dbo].[sp_EliminarEmpleado]
    @Id INT
AS
BEGIN
    IF EXISTS (SELECT 1 FROM Usuario WHERE Id_Empleado = @Id)
    BEGIN
        PRINT 'No se puede eliminar, tiene usuario asociado';
        RETURN;
    END

    DELETE FROM Empleado WHERE Id = @Id;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarDetalleIngreso]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--use Gestion_SITMAS

--CREATE PROCEDURE [dbo].[sp_ListarCamioneros]
--AS
--BEGIN
--    SELECT 
--        E.Id, 
--        E.Apellido, 
--        E.Nombre, 
--        E.Cuil,
--        A.Area,
--        C.Cargo
--    FROM Empleado E
--    INNER JOIN Area A ON E.Id_Area = A.Id
--    INNER JOIN Cargo C ON E.Id_Cargo = C.Id
--    WHERE A.Area = 'Logistica'  -- Filtramos por el nombre del área
--      AND C.Cargo = 'Camionero';   -- Filtramos por el cargo específico
--END
--GO

--ALTER PROCEDURE [dbo].[sp_ListarCamioneros]
--AS
--BEGIN
--    SELECT 
--        E.Id, -- Lo necesitamos para el registro interno
--        E.Apellido + ', ' + E.Nombre AS NombreCompleto, -- Lo que el usuario va a ver y elegir
--        C.Cargo,
--        EE.EstadoEmpleado
--    FROM Empleado E
--    INNER JOIN Area A ON E.Id_Area = A.Id
--    INNER JOIN Cargo C ON E.Id_Cargo = C.Id
--    INNER JOIN Estado_Empleado EE ON E.Id_Estado_Empleado = EE.Id
--    WHERE A.Area = 'Logistica' 
--      AND C.Cargo = 'Camionero'
--      AND EE.EstadoEmpleado = 'Activo'
--    ORDER BY E.Apellido ASC; -- Ordenado para que al usuario le sea fácil buscar
--END
--GO

-- 1. Agregamos las columnas para Chofer y Vehículo
-- Usamos 'int' porque guardaremos el ID, pero recordá que en el UX mostraremos nombres
--ALTER TABLE [dbo].[Ingreso_Material]
--ADD [Id_Camionero_Ingreso] INT NOT NULL,
--    [Id_Vehiculo_Ingreso] INT NOT NULL;
--GO

---- 2. Creamos las relaciones para asegurar que no se cargue un ID que no existe
--ALTER TABLE [dbo].[Ingreso_Material] WITH CHECK ADD 
--CONSTRAINT FK_Ingreso_Camionero FOREIGN KEY([Id_Camionero_Ingreso])
--REFERENCES [dbo].[Empleado] ([Id]);

--ALTER TABLE [dbo].[Ingreso_Material] WITH CHECK ADD 
--CONSTRAINT FK_Ingreso_Vehiculo FOREIGN KEY([Id_Vehiculo_Ingreso])
--REFERENCES [dbo].[Vehiculo] ([Id]);
--GO

-- La sintaxis es: 'Tabla.ColumnaVieja', 'ColumnaNueva', 'COLUMN'
--EXEC sp_rename 'dbo.Ingreso_Material.Id_Empresa_Donante', 'Id_Origen', 'COLUMN';
--GO


--CREATE PROCEDURE [dbo].[sp_RegistrarIngresoMaterial]
--    @IdOrigen INT,              -- El nombre nuevo
--    @IdUsuarioRegistro INT,
--    @IdCamioneroIngreso INT,
--    @IdVehiculoIngreso INT
--AS
--BEGIN
--    INSERT INTO [dbo].[Ingreso_Material] 
--        (FechaIngreso, Id_Origen, Id_Usuario_Registro, Id_Camionero_Ingreso, Id_Vehiculo_Ingreso)
--    VALUES 
--        (GETDATE(), @IdOrigen, @IdUsuarioRegistro, @IdCamioneroIngreso, @IdVehiculoIngreso);

--    -- Nuestra estrella para la API de C#
--    SELECT SCOPE_IDENTITY() AS IdNuevoIngreso;
--END
--GO


CREATE PROCEDURE [dbo].[sp_InsertarDetalleIngreso]
    @IdIngresoMaterial INT,     -- El ID que capturamos con SCOPE_IDENTITY()
    @IdSubTipoMaterial INT,     -- Ej: El ID que corresponde a 'PET'
    @PesoBruto DECIMAL(10,2),
    @Observaciones VARCHAR(100)
AS
BEGIN
    -- Validamos que el peso sea mayor a cero (una regla de negocio básica)
    IF @PesoBruto <= 0
    BEGIN
        RAISERROR('El peso ingresado debe ser mayor a cero.', 16, 1);
        RETURN;
    END

    INSERT INTO [dbo].[Detalle_Ingreso] 
        (Id_Ingreso_Material, Id_SubTipo_Material, PesoBruto, Observaciones)
    VALUES 
        (@IdIngresoMaterial, @IdSubTipoMaterial, @PesoBruto, @Observaciones);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_InsertarEmpleado]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- INSERTAR EMPLEADO
CREATE   PROCEDURE [dbo].[sp_InsertarEmpleado]
    @Apellido VARCHAR(100),
    @Nombre VARCHAR(100),
    @Cuil VARCHAR(20),
    @Telefono VARCHAR(20),
    @Email VARCHAR(100),
    @Fecha_Ingreso DATE,
    @Id_Cargo INT,
    @Id_Area INT,
    @Id_Barrio INT,
    @Id_Estado INT,
    @Calle varchar(50),
    @Numero VARCHAR(10),
    @Piso VARCHAR(10),
    @Dpto VARCHAR(10)
AS
BEGIN
    INSERT INTO Empleado
    VALUES (@Apellido,@Nombre,@Cuil,@Telefono,@Email,
            @Fecha_Ingreso, @Id_Cargo, @Id_Area, @Id_Barrio, @Id_Estado, @Calle, @Numero, @Piso, @Dpto);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarArea]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- LISTAR AREA
CREATE   PROCEDURE [dbo].[sp_ListarArea]
AS
BEGIN
    SELECT * FROM Area;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarBarrio]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- LISTAR BARRIO
CREATE   PROCEDURE [dbo].[sp_ListarBarrio]
AS
BEGIN
    SELECT * FROM Barrio;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarCamioneros]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--use Gestion_SITMAS

--CREATE PROCEDURE [dbo].[sp_ListarCamioneros]
--AS
--BEGIN
--    SELECT 
--        E.Id, 
--        E.Apellido, 
--        E.Nombre, 
--        E.Cuil,
--        A.Area,
--        C.Cargo
--    FROM Empleado E
--    INNER JOIN Area A ON E.Id_Area = A.Id
--    INNER JOIN Cargo C ON E.Id_Cargo = C.Id
--    WHERE A.Area = 'Logistica'  -- Filtramos por el nombre del área
--      AND C.Cargo = 'Camionero';   -- Filtramos por el cargo específico
--END
--GO

CREATE PROCEDURE [dbo].[sp_ListarCamioneros]
AS
BEGIN
    SELECT 
        E.Id, -- Lo necesitamos para el registro interno
        E.Apellido + ', ' + E.Nombre AS NombreCompleto, -- Lo que el usuario va a ver y elegir
        C.Cargo,
        EE.EstadoEmpleado
    FROM Empleado E
    INNER JOIN Area A ON E.Id_Area = A.Id
    INNER JOIN Cargo C ON E.Id_Cargo = C.Id
    INNER JOIN Estado_Empleado EE ON E.Id_Estado_Empleado = EE.Id
    WHERE A.Area = 'Logistica' 
      AND C.Cargo = 'Camionero'
      AND EE.EstadoEmpleado = 'Activo'
    ORDER BY E.Apellido ASC; -- Ordenado para que al usuario le sea fácil buscar
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarCargo]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- LISTAR CARGO
CREATE   PROCEDURE [dbo].[sp_ListarCargo]
AS
BEGIN
    SELECT * FROM Cargo;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEmpleados]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- LISTAR EMPLEADOS
CREATE   PROCEDURE [dbo].[sp_ListarEmpleados]
AS
BEGIN
    SELECT * FROM Empleado;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEmpleadosDetallados]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--select * from vw_DetalleEmpleados


CREATE PROCEDURE [dbo].[sp_ListarEmpleadosDetallados]
AS
BEGIN
    -- En lugar de hacer select a la tabla base, le pedimos los datos a la Vista
    SELECT * FROM vw_DetalleEmpleados
    ORDER BY Apellido ASC;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarEstado_Empleado]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- LISTAR ESTADO_EMPLEADO
CREATE   PROCEDURE [dbo].[sp_ListarEstado_Empleado]
AS
BEGIN
    SELECT * FROM Estado_Empleado;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarUsuarioId]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--procedimiento almacenado de usuario

CREATE procedure [dbo].[sp_ListarUsuarioId]
@Id int
as
begin
select 
Id, Usuario, Id_Empleado,Id_Estado_Usuario 
from Usuario
where Id = @Id
end
GO
/****** Object:  StoredProcedure [dbo].[sp_ListarUsuarios]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- LISTAR Usuarios
CREATE   PROCEDURE [dbo].[sp_ListarUsuarios]

AS
BEGIN
    SELECT 
    Id,
    Usuario,
    Id_Empleado,
    Id_Estado_Usuario
    FROM Usuario
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Login]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- LOGIN (RN19)
CREATE   PROCEDURE [dbo].[sp_Login]
    @User VARCHAR(100),
    @Pass VARCHAR(100)
AS
BEGIN
--buscamos el Salt
DECLARE @SaltExistente UNIQUEIDENTIFIER;

SELECT @SaltExistente = Salt
from Usuario 
WHERE Usuario = @User;

    SELECT * FROM Usuario
    WHERE Usuario = @User
    AND ClaveHash = HASHBYTES('SHA2_512', @Pass + CAST(@SaltExistente AS VARCHAR(36)))
    AND Id_Estado_Usuario = 1 --solo se permite el usuario Activo
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarClasificacion]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--use Gestion_SITMAS

--CREATE PROCEDURE [dbo].[sp_ListarCamioneros]
--AS
--BEGIN
--    SELECT 
--        E.Id, 
--        E.Apellido, 
--        E.Nombre, 
--        E.Cuil,
--        A.Area,
--        C.Cargo
--    FROM Empleado E
--    INNER JOIN Area A ON E.Id_Area = A.Id
--    INNER JOIN Cargo C ON E.Id_Cargo = C.Id
--    WHERE A.Area = 'Logistica'  -- Filtramos por el nombre del área
--      AND C.Cargo = 'Camionero';   -- Filtramos por el cargo específico
--END
--GO

--ALTER PROCEDURE [dbo].[sp_ListarCamioneros]
--AS
--BEGIN
--    SELECT 
--        E.Id, -- Lo necesitamos para el registro interno
--        E.Apellido + ', ' + E.Nombre AS NombreCompleto, -- Lo que el usuario va a ver y elegir
--        C.Cargo,
--        EE.EstadoEmpleado
--    FROM Empleado E
--    INNER JOIN Area A ON E.Id_Area = A.Id
--    INNER JOIN Cargo C ON E.Id_Cargo = C.Id
--    INNER JOIN Estado_Empleado EE ON E.Id_Estado_Empleado = EE.Id
--    WHERE A.Area = 'Logistica' 
--      AND C.Cargo = 'Camionero'
--      AND EE.EstadoEmpleado = 'Activo'
--    ORDER BY E.Apellido ASC; -- Ordenado para que al usuario le sea fácil buscar
--END
--GO

-- 1. Agregamos las columnas para Chofer y Vehículo
-- Usamos 'int' porque guardaremos el ID, pero recordá que en el UX mostraremos nombres
--ALTER TABLE [dbo].[Ingreso_Material]
--ADD [Id_Camionero_Ingreso] INT NOT NULL,
--    [Id_Vehiculo_Ingreso] INT NOT NULL;
--GO

---- 2. Creamos las relaciones para asegurar que no se cargue un ID que no existe
--ALTER TABLE [dbo].[Ingreso_Material] WITH CHECK ADD 
--CONSTRAINT FK_Ingreso_Camionero FOREIGN KEY([Id_Camionero_Ingreso])
--REFERENCES [dbo].[Empleado] ([Id]);

--ALTER TABLE [dbo].[Ingreso_Material] WITH CHECK ADD 
--CONSTRAINT FK_Ingreso_Vehiculo FOREIGN KEY([Id_Vehiculo_Ingreso])
--REFERENCES [dbo].[Vehiculo] ([Id]);
--GO

-- La sintaxis es: 'Tabla.ColumnaVieja', 'ColumnaNueva', 'COLUMN'
--EXEC sp_rename 'dbo.Ingreso_Material.Id_Empresa_Donante', 'Id_Origen', 'COLUMN';
--GO


--CREATE PROCEDURE [dbo].[sp_RegistrarIngresoMaterial]
--    @IdOrigen INT,              -- El nombre nuevo
--    @IdUsuarioRegistro INT,
--    @IdCamioneroIngreso INT,
--    @IdVehiculoIngreso INT
--AS
--BEGIN
--    INSERT INTO [dbo].[Ingreso_Material] 
--        (FechaIngreso, Id_Origen, Id_Usuario_Registro, Id_Camionero_Ingreso, Id_Vehiculo_Ingreso)
--    VALUES 
--        (GETDATE(), @IdOrigen, @IdUsuarioRegistro, @IdCamioneroIngreso, @IdVehiculoIngreso);

--    -- Nuestra estrella para la API de C#
--    SELECT SCOPE_IDENTITY() AS IdNuevoIngreso;
--END
--GO


--CREATE PROCEDURE [dbo].[sp_InsertarDetalleIngreso]
--    @IdIngresoMaterial INT,     -- El ID que capturamos con SCOPE_IDENTITY()
--    @IdSubTipoMaterial INT,     -- Ej: El ID que corresponde a 'PET'
--    @PesoBruto DECIMAL(10,2),
--    @Observaciones VARCHAR(100)
--AS
--BEGIN
--    -- Validamos que el peso sea mayor a cero (una regla de negocio básica)
--    IF @PesoBruto <= 0
--    BEGIN
--        RAISERROR('El peso ingresado debe ser mayor a cero.', 16, 1);
--        RETURN;
--    END

--    INSERT INTO [dbo].[Detalle_Ingreso] 
--        (Id_Ingreso_Material, Id_SubTipo_Material, PesoBruto, Observaciones)
--    VALUES 
--        (@IdIngresoMaterial, @IdSubTipoMaterial, @PesoBruto, @Observaciones);
--END
--GO


CREATE PROCEDURE [dbo].[sp_RegistrarClasificacion]
    @IdDetalleIngreso INT,
    @PesoTotal DECIMAL(10,2),
    @IdEstadoMaterial INT,
    @IdDestino INT,
    @IdUsuarioClasificador INT
AS
BEGIN
    -- Una pequeña validación de seguridad: 
    -- El peso útil no puede ser mayor al peso bruto que ingresó originalmente.
    DECLARE @PesoBrutoOriginal DECIMAL(10,2);
    
    SELECT @PesoBrutoOriginal = PesoBruto 
    FROM Detalle_Ingreso 
    WHERE IdDetalleIngreso = @IdDetalleIngreso;

    IF @PesoTotal > @PesoBrutoOriginal
    BEGIN
        RAISERROR('Error: El peso útil no puede ser mayor al peso bruto ingresado originalmente.', 16, 1);
        RETURN;
    END

    INSERT INTO [dbo].[Material_Clasificado] 
        (Id_Detalle_Ingreso, PesoTotal, FechaClasificacion, Id_Estado_Material, Id_Destino, Id_Usuario_Clasificador)
    VALUES 
        (@IdDetalleIngreso, @PesoTotal, GETDATE(), @IdEstadoMaterial, @IdDestino, @IdUsuarioClasificador);
END
GO
/****** Object:  StoredProcedure [dbo].[sp_RegistrarIngresoMaterial]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--use Gestion_SITMAS

--CREATE PROCEDURE [dbo].[sp_ListarCamioneros]
--AS
--BEGIN
--    SELECT 
--        E.Id, 
--        E.Apellido, 
--        E.Nombre, 
--        E.Cuil,
--        A.Area,
--        C.Cargo
--    FROM Empleado E
--    INNER JOIN Area A ON E.Id_Area = A.Id
--    INNER JOIN Cargo C ON E.Id_Cargo = C.Id
--    WHERE A.Area = 'Logistica'  -- Filtramos por el nombre del área
--      AND C.Cargo = 'Camionero';   -- Filtramos por el cargo específico
--END
--GO

--ALTER PROCEDURE [dbo].[sp_ListarCamioneros]
--AS
--BEGIN
--    SELECT 
--        E.Id, -- Lo necesitamos para el registro interno
--        E.Apellido + ', ' + E.Nombre AS NombreCompleto, -- Lo que el usuario va a ver y elegir
--        C.Cargo,
--        EE.EstadoEmpleado
--    FROM Empleado E
--    INNER JOIN Area A ON E.Id_Area = A.Id
--    INNER JOIN Cargo C ON E.Id_Cargo = C.Id
--    INNER JOIN Estado_Empleado EE ON E.Id_Estado_Empleado = EE.Id
--    WHERE A.Area = 'Logistica' 
--      AND C.Cargo = 'Camionero'
--      AND EE.EstadoEmpleado = 'Activo'
--    ORDER BY E.Apellido ASC; -- Ordenado para que al usuario le sea fácil buscar
--END
--GO

-- 1. Agregamos las columnas para Chofer y Vehículo
-- Usamos 'int' porque guardaremos el ID, pero recordá que en el UX mostraremos nombres
--ALTER TABLE [dbo].[Ingreso_Material]
--ADD [Id_Camionero_Ingreso] INT NOT NULL,
--    [Id_Vehiculo_Ingreso] INT NOT NULL;
--GO

---- 2. Creamos las relaciones para asegurar que no se cargue un ID que no existe
--ALTER TABLE [dbo].[Ingreso_Material] WITH CHECK ADD 
--CONSTRAINT FK_Ingreso_Camionero FOREIGN KEY([Id_Camionero_Ingreso])
--REFERENCES [dbo].[Empleado] ([Id]);

--ALTER TABLE [dbo].[Ingreso_Material] WITH CHECK ADD 
--CONSTRAINT FK_Ingreso_Vehiculo FOREIGN KEY([Id_Vehiculo_Ingreso])
--REFERENCES [dbo].[Vehiculo] ([Id]);
--GO

-- La sintaxis es: 'Tabla.ColumnaVieja', 'ColumnaNueva', 'COLUMN'
--EXEC sp_rename 'dbo.Ingreso_Material.Id_Empresa_Donante', 'Id_Origen', 'COLUMN';
--GO


CREATE PROCEDURE [dbo].[sp_RegistrarIngresoMaterial]
    @IdOrigen INT,              -- El nombre nuevo
    @IdUsuarioRegistro INT,
    @IdCamioneroIngreso INT,
    @IdVehiculoIngreso INT
AS
BEGIN
    INSERT INTO [dbo].[Ingreso_Material] 
        (FechaIngreso, Id_Origen, Id_Usuario_Registro, Id_Camionero_Ingreso, Id_Vehiculo_Ingreso)
    VALUES 
        (GETDATE(), @IdOrigen, @IdUsuarioRegistro, @IdCamioneroIngreso, @IdVehiculoIngreso);

    -- Nuestra estrella para la API de C#
    SELECT SCOPE_IDENTITY() AS IdNuevoIngreso;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_VerEmpleadoId]    Script Date: 7/5/2026 06:16:16 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--use Gestion_SITMAS

create procedure [dbo].[sp_VerEmpleadoId]
@Id int
as
begin
select * from Empleado
where Id = @Id
end
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "E"
            Begin Extent = 
               Top = 7
               Left = 48
               Bottom = 170
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "C"
            Begin Extent = 
               Top = 175
               Left = 48
               Bottom = 294
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "A"
            Begin Extent = 
               Top = 294
               Left = 48
               Bottom = 413
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "B"
            Begin Extent = 
               Top = 413
               Left = 48
               Bottom = 554
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "EE"
            Begin Extent = 
               Top = 560
               Left = 48
               Bottom = 679
               Right = 292
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_DetalleEmpleados'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'vw_DetalleEmpleados'
GO
USE [master]
GO
